nav{
    background-color: black;
    height: 100px;
}

.categories{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

li{
    margin: auto;
    font-size: 20px;
    font-weight: 500px;
    padding: 30px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: red;
}