nav{
    background-color: black;
    height: 100px;
}

.categories{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

li{
    margin: auto;
    font-size: 20px;
    font-weight: 500px;
    padding: 25px 100px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: red;
}

.greetings-contenedor{
    height: 200px;
    width: 100%;
    background-color: beige;
}

.greetings-contenedor h2{
    padding: 73px;
    text-align: center;
}